# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Kubernetes
.kube/
*.kubeconfig

# Env files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Helm secrets
secrets.yaml

# Azure
azure.json