apiVersion: apps/v1
kind: Deployment
metadata:
  name: langflow
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: langflow
  template:
    metadata:
      labels:
        app: langflow
    spec:
      enableServiceLinks: {{ .Values.kubernetes.enableServiceLinks }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
      terminationGracePeriodSeconds: 30
      containers:
      - name: langflow
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        env:
        - name: LANGFLOW_DATABASE_URL
          value: {{ .Values.database.url | quote }}
        startupProbe:
          tcpSocket:
            port: {{ .Values.service.targetPort }}
          failureThreshold: 30
          periodSeconds: 5
          timeoutSeconds: 1
        readinessProbe:
          tcpSocket:
            port: {{ .Values.service.targetPort }}
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 1
        livenessProbe:
          tcpSocket:
            port: {{ .Values.service.targetPort }}
          initialDelaySeconds: 30
          periodSeconds: 20
          timeoutSeconds: 1
        resources:
{{ toYaml .Values.resources | indent 10 }}
